<!DOCTYPE html>
<html lang="en">
<head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" , href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
        <title>Market</title>

    </head>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">🅚🅐🅝🅐🅢🅗.🅃🄾🅁🄶</a>
            {% if current_user.is_authenticated %}
            <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a class="navbar-brand" style="color:#6c9ef3" href="/user/{{ current_user.id }}">Профиль: {{
                        current_user.name }} {{
                        current_user.surname }}</a></li>
                    {% if current_user.is_admin%}
                    <li><a class="navbar-brand" href="/create" style="color:#0ab954">Добавить товар</a></li>
                    {% endif %}
                    <li><a class="navbar-brand" href="/cart" style="color:#ff8f00">Корзина</a></li>
                    <li><a class="navbar-brand" href="/logout" style="color:#ff0000">Выйти</a></li>
                </ul>
            </div>
            {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
            {% endif %}
        </nav>
    </header>
    <body>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        {%if current_user.is_authenticated%}
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
                    aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item carousel-item-next carousel-item-start">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#6c9ef3"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Добро пожаловать на 🅚🅐🅝🅐🅢🅗.🅃🄾🅁🄶!</h1>
                        <p>Самый крупный онлайн-магазин на территории города Канаш!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#0ab954"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Мы открылись!</h1>
                        <p>Ищите наши пункты выдачи на улицах своего города!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active carousel-item-start">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#ff8f00"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Сотни продавцов ждут тебя!</h1>
                        <p>Тысячи покупателей хотят твои товары!</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {%else%}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Вы не вошли в аккаунт. Исправим?</h1>
                <p class="lead text-body-secondary">Вы можете войти в свой аккаунт или создать новый если у вас его
                    нет.</p>
                <p>
                    <a class="btn btn-primary" , href="/login" , role="button">Войти</a>
                    <a class="btn btn-success" , href="/registr" , role="button">Зарегистрироваться</a>
                </p>
            </div>
        </div>
    </section>
    {%endif%}

</head>
<body>
<div class="container" align="center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {%for i in profiles%}
        {%if i.id != current_user.id and i.is_admin%}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">{{i.name}} {{i.surname}}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form method="post">
                                <a class="btn btn-danger" href="/delete_dealer/{{i.dealer_id}}"
                                   type="button">Удалить
                                    продавца
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>
</div>
</body>
</html>